<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List Rendering</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container py-5" id="app">
      <h2>Top 10 Frameworks</h2>
      <ul class="list-group">
        <li
          v-for="(framework, index) of topTenFrameworks"
          class="
            list-group-item
            d-flex
            justify-content-between
            align-items-center
          "
          v-for="(score, framework) of topTenFrameworks"
        >
          {{ framework  }}
          <span class="badge badge-primary badge-pill">{{ score}}</span>
        </li>
      </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
      new Vue({
        el: "#app",
        data: {
          topTenFrameworks: {
            "AngularJS": 100,
            "ASP.NET": 98,
            "Ruby on Rails": 80,
            "ASP.NET MVC": 79,
            "React": 70,
            "laravel": 65,
            "java": 61,
            "Express": 57,
            "spring": 52,
            "Django": 40
        }

        },
      });
    </script>
  </body>
</html>
